version: "3"

services:
  web:
    build: web
    container_name: tenma_web_01
    ports:
      - "${WEB_PORT:-3031}:3031"
    environment:
      TZ: "Asia/Tokyo"
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USER: ${DB_USER:-postgres}
      DATABASE_PASSWORD: ${DB_PW:-mysecretpassword1234}
      DATABASE_NAME: tenmadb
    links:
      - db
    volumes:
      - ./web:/var/www/
    stdin_open: true

  nginx:
    build: ./nginx
    container_name: tenma_nginx_01
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./web/static:/static
    links:
      - web
    ports:
      - "${NGINX_PORT:-8888}:80"
    environment:
      TZ: "Asia/Tokyo"

  db:
    image: postgres:10.1
    container_name: tenma_db_01
    ports:
      - "5432:5432"
    volumes:
      - ./datadir:/var/lib/postgresql/data
    environment:
      TZ: "Asia/Tokyo"
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PW:-mysecretpassword1234}