
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TENMA AI 競馬予想">
    <meta name="author" content="ktaskn">
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T8RD99X');
    </script>


    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- End Google Tag Manager -->

    <title>TENMA</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body {
            font-family:  arial, helvetica, sans-serif;
            line-height: 1.5
        }
        h1 {
            margin-top: 2em;
            font-size: 18px
        }
        p {
            font-size: 16px
        }
        .navbar {
            background-color: #2F5277
        }
        .select_form {
            margin-top: 1em;
        }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8RD99X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="./">TENMA</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>TENMAって何？</h1>
                <p>TENMAは統計・機械学習・人工知能を利用した競馬の予測サービスです。皆様の競馬予想をより楽しいものにできるように開発をしています。</p>
                <p><a href="https://www.amazon.jp/hz/wishlist/ls/2FBBL2M7Q4LWB?ref_=wl_share">応援お待ちしております 欲しいものリスト </a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                    <a href="https://twitter.com/ai_tenma?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ai_tenma</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <h4>本日の開催</h4>
                <div class="list-group">
                    {% for a_name, a_key in races_today %}
                        <a href="{{ a_key }}" class="list-group-item">{{ a_name }}</a>
                    {% else %}
                        <a href="#" class="list-group-item disabled">本日の開催はありません</a>
                    {% endfor %}
                </div>
            </div>
        </div>
          
        <div class="row">
            <div class="col-sm form-inline">
                <div class="form-group" style="width: 30%; margin-bottom:0em;">
                    <form name="select_form" class="select_form" style="width:100%">
                            <select class="custom-select" id="daylist" name="daylist"  style="width:100%">
                                <option selected>日付</option>
                            </select>
                    </form>
                </div>

                <div class="form-group" style="width: 30%; margin-bottom:0em;">
                        <form name="select_form" class="select_form" style="width:100%">
                            <select class="custom-select" id="jyolist" name="jyolist" style="width:100%">
                                <option selected>競馬場</option>
                            </select>
                        </form>
                </div>

                <div class="form-group" style="width: 30%; margin-bottom:0em;">
                    <form name="select_form" class="select_form" style="width:100%">
                    <select class="custom-select" id="racelist" name="racelist" style="width:100%">
                        <option selected>レース番号</option>
                    </select>
                    </form>
                </div>
                <script>
                    $.ajax({
                        url:'./get_racedays',
                        type:'GET'
                    }).done( (data) => {
                        console.log(data);
                        $.each(data, function(index,val){
                            $('#daylist').append('<option value="' + val +'">' + val + '</option>');
                        });
                    }).fail( (data) => {
                        console.log(data);
                        $('#daylist').append('<option value="">データが取得できませんでした</option>');
                    }).always( (data) => {

                    });

                    $('[name=daylist]').change(function() {
                        var val = $('[name=daylist]').val();
                        $.ajax({
                            url:'./get_keibajyo',
                            type:'GET',
                            data: {
                                "date": val
                            }
                        }).done( (data) => {
                            $('#jyolist').empty();
                            $('#jyolist').append('<option selected>競馬場</option>');
                            $.each(data, function(index,val){
                                $('#jyolist').append('<option value="' + index +'">' + val + '</option>');
                            });

                            var date = $('[name=daylist]').val();
                            var keibajyo_id = $('[name=jyolist]').val();
                            console.log(keibajyo_id)
                            $.ajax({
                                url:'./get_race',
                                type:'GET',
                                data: {
                                    "date": date,
                                    "keibajyo_id": keibajyo_id
                                }
                            }).done( (data) => {
                                console.log(data)
                                $('#racelist').empty();
                                $('#racelist').append('<option selected>レース番号</option>');
                                $.each(data, function(index,val){
                                    $('#racelist').append('<option value="' + val +'">' + val + 'R</option>');
                                });
                            }).fail( (data) => {
                                $('#racelist').append('<option value="">データが取得できませんでした</option>');
                            }).always( (data) => {

                            });

                        }).fail( (data) => {
                                $('#jyolist').append('<option value="">データが取得できませんでした</option>');
                        }).always( (data) => {

                        });
                    })


                    $('[name=jyolist]').change(function() {
                        var date = $('[name=daylist]').val();
                        var keibajyo_id = $('[name=jyolist]').val();
                        console.log(keibajyo_id)
                        $.ajax({
                            url:'./get_race',
                            type:'GET',
                            data: {
                                "date": date,
                                "keibajyo_id": keibajyo_id
                            }
                        }).done( (data) => {
                            console.log(data)
                            $('#racelist').empty();
                            $('#racelist').append('<option selected>レース番号</option>');
                            $.each(data, function(index,val){
                                $('#racelist').append('<option value="' + val +'">' + val + 'R</option>');
                            });
                        }).fail( (data) => {
                                $('#racelist').append('<option value="">データが取得できませんでした</option>');
                        }).always( (data) => {

                        });
                    })

                    $('[name=racelist]').change(function() {
                        var yearmonthday = $('[name=daylist]').val();
                        var jyocd = $('[name=jyolist]').val();
                        var racenum = $('[name=racelist]').val();
                        location.href = "./" + yearmonthday + jyocd + racenum;
                    })
                </script>
            </div>
        </div>


        <div class="row">
            <div class="col-sm">
                <img src="/static/images/linkedin_banner_image_2.png" style="width: 100%"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p style="font-size:10px">当サービスは、利用者が当サービスの利用を通じて発生した不利益に対して一切の責任を負いません。</p>
            </div>
        </div>
    </div>
  </body>
</html>
