
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TENMA AI 競馬予想">
    <meta name="author" content="ktaskn">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T8RD99X');
    </script>
    <!-- End Google Tag Manager -->

    <title>TENMA</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body {
            font-family:  arial, helvetica, sans-serif;
            line-height: 1.5
        }
        h1 {
            font-size: 26px;
        }
        p {
            font-size: 16px
        }
        .table-predictor {
            font-size: 12px
        }
        .navbar {
            background-color: #2F5277
        }
        .select_form {
            margin-top: 1em;
        }
    </style>
  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8RD99X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="./">TENMA</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="form-group" style="width: 30%; margin-bottom:0em;">
                <form name="select_form" class="select_form" style="width:100%">
                        <select class="custom-select" id="daylist" name="daylist"  style="width:100%">
                            <option selected>日付</option>
                        </select>
                </form>
            </div>

            <div class="form-group" style="width: 30%; margin-bottom:0em;">
                    <form name="select_form" class="select_form" style="width:100%">
                        <select class="custom-select" id="jyolist" name="jyolist" style="width:100%">
                            <option selected>競馬場</option>
                        </select>
                    </form>
            </div>

            <div class="form-group" style="width: 30%; margin-bottom:0em;">
                <form name="select_form" class="select_form" style="width:100%">
                <select class="custom-select" id="racelist" name="racelist" style="width:100%">
                    <option selected>レース番号</option>
                </select>
                </form>
            </div>
            <script>
                $.ajax({
                    url:'./get_racedays',
                    type:'GET'
                }).done( (data) => {
                    console.log(data);
                    $.each(data, function(index,val){
                        $('#daylist').append('<option value="' + val[0] +'">' + val[1] + '</option>');
                    });
                }).fail( (data) => {
                    console.log(data);
                    $('#daylist').append('<option value="">データが取得できませんでした</option>');
                }).always( (data) => {

                });

                $('[name=daylist]').change(function() {
                    var val = $('[name=daylist]').val();
                    $.ajax({
                        url:'./get_keibajyo',
                        type:'GET',
                        data: {
                            "date": val
                        }
                    }).done( (data) => {
                        $('#jyolist').empty();
                        $('#jyolist').append('<option selected>競馬場</option>');
                        $.each(data, function(index,val){
                            $('#jyolist').append('<option value="' + index +'">' + val + '</option>');
                        });

                        var date = $('[name=daylist]').val();
                        var keibajyo_id = $('[name=jyolist]').val();
                        console.log(keibajyo_id)
                        $.ajax({
                            url:'./get_race',
                            type:'GET',
                            data: {
                                "date": date,
                                "keibajyo_id": keibajyo_id
                            }
                        }).done( (data) => {
                            console.log(data)
                            $('#racelist').empty();
                            $('#racelist').append('<option selected>レース番号</option>');
                            $.each(data, function(index,val){
                                $('#racelist').append('<option value="' + val +'">' + val + 'R</option>');
                            });
                        }).fail( (data) => {
                            $('#racelist').append('<option value="">データが取得できませんでした</option>');
                        }).always( (data) => {

                        });

                    }).fail( (data) => {
                            $('#jyolist').append('<option value="">データが取得できませんでした</option>');
                    }).always( (data) => {

                    });
                })


                $('[name=jyolist]').change(function() {
                    var date = $('[name=daylist]').val();
                    var keibajyo_id = $('[name=jyolist]').val();
                    console.log(keibajyo_id)
                    $.ajax({
                        url:'./get_race',
                        type:'GET',
                        data: {
                            "date": date,
                            "keibajyo_id": keibajyo_id
                        }
                    }).done( (data) => {
                        console.log(data)
                        $('#racelist').empty();
                        $('#racelist').append('<option selected>レース番号</option>');
                        $.each(data, function(index,val){
                            $('#racelist').append('<option value="' + val +'">' + val + 'R</option>');
                        });
                    }).fail( (data) => {
                            $('#racelist').append('<option value="">データが取得できませんでした</option>');
                    }).always( (data) => {

                    });
                })

                $('[name=racelist]').change(function() {
                    var date = $('[name=daylist]').val();
                    var keibajyo_id = $('[name=jyolist]').val();
                    var racenum = $('[name=racelist]').val();
                    location.href = "./" + date + keibajyo_id + racenum;
                })
            </script>
        </div>

        <div>
            <a 
            class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text={{ tweet_text }}&via=ai_tenma"
            >Tweet</a>
            <script>
                window.twttr = (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                    if (d.getElementById(id)) return t;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                    
                    t._e = [];
                    t.ready = function(f) {
                        t._e.push(f);
                    };
                    
                    return t;
                }(document, "script", "twitter-wjs"));
            </script>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h5>単勝予想</h5>
                <table  id="table-horse" class="table table-hover table-predictor">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">馬名</th>
                        <th scope="col">予想順位</th>
                        <th scope="col">予想オッズ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ prediction_table | safe }}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                    <h5 id="horsename"></h5>
                    <div class="row">
                        <canvas class="histchart" id="chartUma"></canvas>
                    </div>
                    <div class="row">
                        <canvas class="histchart" id="chartSire"></canvas>
                    </div>
                    <div class="row">
                        <canvas class="histchart" id="chartBroodmare"></canvas>
                    </div>
                    <div class="row">
                        <canvas class="histchart" id="chartKisyu"></canvas>
                    </div>
            </div>
        </div>
        


        <script>
        var myChart = [
        ];

        var plot_hist = function(canvas, data, label, color='rgba(255, 99, 132, 1.0)'){
            var ctx = document.getElementById(canvas).getContext('2d');
            ctx.canvas.height = 230;
            if(myChart[canvas]){
                myChart[canvas].destroy();
            }
            myChart[canvas] = new Chart(ctx,  {
                type: 'bar',
                data: {
                    labels: Array.from({length: 18}, (v, k) => k).map(x => x + 1),
                    datasets: [{
                        label: label,
                        data: data,
                        borderWidth: 1,
                        backgroundColor: color
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                userCallback: function(label, index, labels) {
                                    if (Math.floor(label) === label) {
                                        return label;
                                    }
                                }
                            }
                        }]
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        }

        var get_hist = function(date, keibajyo_id, racenum, horse_id){
            $.ajax({
                url: './get_hist',
                type:'GET',
                data: {
                    "date": date,
                    "keibajyo_id": keibajyo_id,
                    "racenum": racenum,
                    "horse_id": horse_id
                }
            }).done( (data) => {
                plot_hist('chartUma', data['hist_horse'], '過去成績', 'rgba(75, 192, 192, 1.0)');
                plot_hist('chartSire', data['hist_sire'], '父馬コース成績', 'rgba(54, 162, 235, 1.0)');
                plot_hist('chartBroodmare', data['hist_broodmare'], '母馬過去成績', 'rgba(255, 99, 132, 1.0)');
                plot_hist('chartKisyu', data['hist_kisyu'], '騎手直近成績', 'rgba(255, 206, 86, 1.0)');
            });
        }


        var plot = function(horse_id, horsename){
            var pathname = $(location).attr('pathname');
            var date = pathname.slice(1, 9);
            var keibajyo_id = pathname.slice(9, 11);
            var racenum = pathname.slice(11, 13);
            get_hist(date, keibajyo_id, racenum, horse_id);
            $('#horsename').text(horsename);
        }

        $(document).on('click', ".horse", function() {
            var horsename = $(this).attr('horsename');
            var horse_id = $(this).attr("value");
            plot(horse_id, horsename)
        });

        plot(
            $("#table-horse tbody").children('tr:first').attr('value'),
            $("#table-horse tbody").children('tr:first').attr('horsename')
        )

        </script>

        <div class="row">
            <div class="col-sm">
                <p style="font-size:10px">当サービスは、利用者が当サービスの利用を通じて発生した不利益に対して一切の責任を負いません。</p>
            </div>
        </div>
    </div>
  </body>
</html>
